.formulario{
    background:url("../img/GettyImages-892092206-1.png");
    width: 100%;
    height: 650px;
    background-size: 100%  100%;

    background-repeat: no-repeat, no-repeat;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;

}

.detalhe__imagem{

   position:absolute;
   left: 80px;
   bottom: 180px;
    
}

.detalhe__imagem img{
    width: 175px;
}

.card__formulario__mensagem{

    width: 35%;
    height: 380px;
    background-color: #cf2e2e;
    color: #ffffff;
    
    font-size: 43px;
    font-weight: bold;
    line-height: 2rem;
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}

.card__formulario__mensagem p{

    width: 50%;
    padding-top: 45px;

}

.card__formulario{

    width: 35%;
    height: 380px;
    padding-left: 40px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;


    
    
}


.fomulario__formulario__inputs{

    width: 380px;
    margin-top: 20px;
    padding-bottom: 10px;
   

    border: none;
    border-bottom: solid 1px rgb(230, 226, 226);
}


.fomulario__formulario__inputs:focus{

    border-bottom: solid 1px rgb(230, 226, 226);
}


.formulario__formulario__buton{

 
    padding: 20px 25px;
    margin-top: 45px;
    max-width: 200px ; 
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    border-radius: 8px;
    color: #ffffff;
    background-color: #243746;
    border: none;
    cursor: pointer;

   
}


